#
# Build file ignores
#
TapGame/build.config.my
TapGame/build.config.my.meta
*.apk

#
# Unity ignores
#
TapGame/Temp/
TapGame/Library/
UnityVS*
Assembly-*
*.sln
*.suo
*.csproj
*.userprefs

#
# File system ignores
#
*.DS_Store
[Tt]humbs.db
/TapGame/Builds/
TapGame/Assets/mcs.rsp*
TapGame/Assets/gmcs.rsp*
